@import 'core.svg.processor';

/* Add your svg-process() functions here */

@function SVG-facebook($color:white){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="113.6px" height="218.8px" viewBox="57.7 27.5 113.6 218.8"><path fill="#{$color}" d="M131.4,246.3v-99.8h33.5l5-38.9h-38.5V82.8c0-11.3,3.1-18.9,19.3-18.9l20.6,0V29 c-3.6-0.5-15.8-1.5-30-1.5c-29.7,0-50,18.1-50,51.4v28.7H57.7v38.9h33.6v99.8H131.4z"/></svg>');
}
@function SVG-twitter($color:white){
	@return svg-process('<svg xmlns="http://www.w3.org/2000/svg" height="148.12" width="182.26" version="1.1"  viewBox="0 0 182.66667 150.66667"><path fill="#{$color}" d="M180.7,18.4c-6.6,2.9-13.7,4.9-21.1,5.8c7.6-4.6,13.4-11.8,16.2-20.3c-7.1,4.2-15,7.3-23.3,8.9 c-6.7-7.1-16.3-11.6-26.8-11.6c-20.3,0-36.8,16.5-36.8,36.8c0,2.9,0.3,5.7,1,8.4C59.2,44.8,32.2,30.2,14,7.9c-3.2,5.4-5,11.7-5,18.5 c0,12.8,6.5,24,16.4,30.6c-6-0.2-11.7-1.8-16.7-4.6c0,0.2,0,0.3,0,0.5c0,17.8,12.7,32.7,29.5,36c-3.1,0.8-6.3,1.3-9.7,1.3 c-2.4,0-4.7-0.2-6.9-0.7c4.7,14.6,18.3,25.2,34.3,25.5c-12.6,9.9-28.4,15.7-45.7,15.7c-3,0-5.9-0.2-8.8-0.5 c16.3,10.4,35.6,16.5,56.4,16.5c67.6,0,104.6-56,104.6-104.6c0-1.6,0-3.2-0.1-4.8C169.6,32.3,175.8,25.8,180.7,18.4"/></svg>');
}
@function SVG-email($color:white){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="23.7px" height="15.6px" viewBox="0 0 23.7 15.6"><g><path fill="#{$color}" d="M23.7,2.7c0-0.7-0.3-1.3-0.7-1.7l-5.6,3.8l5.5,10c0.4-0.5,0.7-1.1,0.7-1.8V2.7z"/><path fill="#{$color}" d="M11.5,7.6l10.7-7.3C21.9,0.1,21.5,0,21,0H2.7C2,0,1.4,0.2,1,0.6L11.5,7.6z"/><path fill="#{$color}" d="M0.3,1.4C0.1,1.8,0,2.2,0,2.7v10.3c0,1,0.5,1.8,1.3,2.3L7.2,6L0.3,1.4z"/><path fill="#{$color}" d="M16.6,5.3l-5.2,3.5L8.1,6.6l-5.8,9c0.1,0,0.3,0,0.4,0H21c0.4,0,0.8-0.1,1.2-0.3L16.6,5.3z"/></g></svg>');
}
@function SVG-linkedin($color:white){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="53.4px" height="51px" viewBox="0 0 53.4 51"><path fill="#{$color}" d="M12.1,51V16.6H0.7V51H12.1z M6.4,11.9c4,0,6.5-2.6,6.5-5.9 C12.8,2.6,10.4,0,6.5,0C2.6,0,0,2.6,0,5.9C0,9.3,2.5,11.9,6.4,11.9L6.4,11.9L6.4,11.9z"/><path fill="#{$color}" d="M18.5,51h11.4V31.8c0-1,0.1-2.1,0.4-2.8 c0.8-2.1,2.7-4.2,5.9-4.2c4.1,0,5.8,3.2,5.8,7.8V51h11.4V31.3c0-10.6-5.6-15.5-13.2-15.5c-6.2,0-8.9,3.5-10.4,5.8h0.1v-5H18.5 C18.6,19.8,18.5,51,18.5,51L18.5,51z"/></svg>');
}
@function SVG-googleplus($color:white){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="92.5px" height="58.8px" viewBox="0 0 92.5 58.8" enable-background="new 0 0 92.5 58.8"><path fill="#{$color}" d="M0.1,27.9C0.3,12.8,14.2-0.5,29.4,0C36.6-0.3,43.5,2.8,49,7.3c-2.4,2.7-4.8,5.3-7.4,7.7 c-6.7-4.6-16.2-5.9-22.9-0.6c-9.6,6.6-10,22.2-0.8,29.3c8.9,8.1,25.8,4.1,28.3-8.3c-5.6-0.1-11.2,0-16.8-0.2c0-3.3,0-6.7,0-10 c9.4,0,18.7,0,28.1,0c0.6,7.9-0.5,16.2-5.3,22.7c-7.3,10.3-22,13.3-33.4,8.9C7.2,52.4-0.9,40.3,0.1,27.9z"/><path fill="#{$color}" d="M75.7,16.7c2.8,0,5.6,0,8.3,0c0,2.8,0,5.6,0.1,8.4c2.8,0,5.6,0,8.4,0.1c0,2.8,0,5.6,0,8.3 c-2.8,0-5.6,0-8.4,0.1c0,2.8,0,5.6-0.1,8.4c-2.8,0-5.6,0-8.4,0c0-2.8,0-5.6-0.1-8.4c-2.8,0-5.6-0.1-8.4-0.1c0-2.8,0-5.6,0-8.3 c2.8,0,5.6,0,8.4-0.1C75.7,22.3,75.7,19.5,75.7,16.7z"/></svg>');
}
@function SVG-burger($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 7 5"><line x1="1" y1="1" x2="6" y2="1" stroke="#{$color}" #{$attributes} /><line x1="1" y1="2.5" x2="6" y2="2.5" stroke="#{$color}" #{$attributes} /><line x1="1" y1="4" x2="6" y2="4" stroke="#{$color}" #{$attributes} /></svg>');
}
@function SVG-close($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 7 5"><line x1="2" y1="1" x2="5" y2="4" stroke="#{$color}" #{$attributes} /><line x1="5" y1="1" x2="2" y2="4" stroke="#{$color}" #{$attributes} /></svg>');
}
@function SVG-closeoutlined($color:white,$outline:black){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 5 5"><line x1="1" y1="1" x2="4" y2="4" stroke="#{$outline}" stroke-width="1" stroke-linecap="round" /><line x1="4" y1="1" x2="1" y2="4" stroke="#{$outline}" stroke-width="1" stroke-linecap="round" /><line x1="1" y1="1" x2="4" y2="4" stroke="#{$color}" stroke-width=".55" stroke-linecap="round" /><line x1="4" y1="1" x2="1" y2="4" stroke="#{$color}" stroke-width=".55" stroke-linecap="round" /></svg>');
}
@function SVG-play($color:white){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 5 5"><polygon points="1,1 4,2.5 1,4" stroke="#{$color}" fill="#{$color}" /></svg>');
}
@function SVG-plus($color:white,$attributes:'stroke-width=".25"'){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 2 2"><line x1="1" x2="1" y1="0" y2="2" stroke="#{$color}" fill="none" #{$attributes} /><line x1="0" x2="2" y1="1" y2="1" stroke="#{$color}" fill="none" #{$attributes} /></svg>');
}
@function SVG-arrowdown($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 5 5"><polyline points="1,1 2.5,3 4,1" stroke="#{$color}" fill="transparent" #{$attributes} /></svg>');
}
@function SVG-arrowdown-extrawide($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 10 5"><polyline points="1,1 5,3 9,1" stroke="#{$color}" fill="transparent" #{$attributes} /></svg>');
}
@function SVG-arrowup($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 7 5"><polyline points="1,4 3.5,1 6,4" stroke="#{$color}" fill="transparent" #{$attributes} /></svg>');
}
@function SVG-arrowleft($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 4 5"><polyline points="3,1 1,2.5 3,4" stroke="#{$color}" fill="transparent" #{$attributes} /></svg>');
}
@function SVG-arrowright($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 4 5"><polyline points="1,1 3,2.5 1,4" stroke="#{$color}" fill="transparent" #{$attributes} /></svg>');
}
@function SVG-clock($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 5 5"><circle fill="transparent" stroke="#{$color}" #{$attributes} cx="2.5" cy="2.5" r="2" /><line fill="transparent" stroke="#{$color}" #{$attributes} x1="2.5" y1="2.5" x2="2.5" y2="1" /><line fill="transparent" stroke="#{$color}" #{$attributes} x1="2.5" y1="2.5" x2="3.5" y2="2.5" /></svg>');
}
@function SVG-locationpin($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="101px" height="157px" viewBox="0 0 101 157"><path d="M100.5,50.5c0-27.614-22.386-50-50-50s-50,22.386-50,50c0,4.359,0.561,8.588,1.609,12.619 H2.107l0.004,0.007c1.925,7.4,5.51,14.126,10.323,19.775L50.5,155.819l38.066-72.918c4.812-5.649,8.397-12.375,10.323-19.775 l0.004-0.007h-0.002C99.939,59.088,100.5,54.859,100.5,50.5z M50.5,68.585c-11.751,0-21.277-9.526-21.277-21.277 S38.749,26.032,50.5,26.032s21.277,9.526,21.277,21.277S62.251,68.585,50.5,68.585z" fill="#{$color}" /></svg>');
}
@function SVG-checkbox($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100"><polyline points="0,50 50,75 100,0 50,100" fill="#{$color}" /><rect stroke="#{$color}" stroke-width="3" fill="transparent" x="20" y="20" width="60" height="60" /></svg>');
}
@function SVG-pixel($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="1px" height="1px" viewBox="0 0 1 1" preserveAspectRatio="none"><rect x="0" y="0" width="1" height="1" fill="#{$color}" #{$attributes} /></svg>');
}
@function SVG-cog($color:white,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66.7px" height="67.1px" viewBox="0 0 66.7 67.1"><path fill="#{$color}" #{$attributes} d="M66.7,39.6V27.5l-7.5-1.2c-0.4-1.7-1.2-3.3-2.5-5.8l4.6-6.2l-8.8-8.8L46.2,10c-2.1-1.3-4.2-2.1-5.8-2.5L39.6,0H27.5 l-1.2,7.5c-2.1,0.4-3.8,1.2-5.8,2.5l-6.2-4.6l-8.8,8.7l4.2,6.2c-1.3,2.1-1.7,3.7-2.5,5.8L0,27.1v12.1l7.5,1.2 c0.4,2.1,1.3,3.8,2.5,5.8l-4.2,6.2l8.8,8.8l6.2-4.2c1.7,0.8,3.7,1.7,5.8,2.5l1.2,7.5h12.5l1.2-7.5c2.1-0.4,3.8-1.2,5.8-2.5l6.2,4.6 l8.8-8.8l-4.6-6.2c1.2-2.1,2.1-4.2,2.5-5.8L66.7,39.6z M33.3,45.8c-7.1,0-12.5-5.4-12.5-12.5s5.4-12.5,12.5-12.5s12.5,5.4,12.5,12.5 S40.4,45.8,33.3,45.8z"/></svg>');
}
@function SVG-youtube($color:#282928,$attributes:''){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" width="1021.4px" height="718.4px" viewBox="0 0 1021.4 718.4"><path opacity="0.12" fill-rule="evenodd" clip-rule="evenodd" d="M405.2,204.7l242,161.6l34-17.6L405.2,204.7 z"/><path fill="#{$color}" d="M1011.2,155c0,0-10-70.4-40.6-101.4c-38.8-40.7-82.4-40.9-102.3-43.3C725.4,0,510.9,0,510.9,0h-0.4 c0,0-214.4,0-357.4,10.3c-20,2.4-63.5,2.6-102.3,43.3C20.2,84.6,10.2,155,10.2,155S0,237.6,0,320.3v77.5 c0,82.7,10.2,165.3,10.2,165.3s10,70.4,40.6,101.4c38.9,40.7,89.9,39.4,112.6,43.7c81.7,7.8,347.3,10.3,347.3,10.3 s214.6-0.3,357.6-10.7c20-2.4,63.5-2.6,102.3-43.3c30.6-31,40.6-101.4,40.6-101.4s10.2-82.7,10.2-165.3v-77.5 C1021.4,237.6,1011.2,155,1011.2,155z M405.3,491.7l0-287l276,144L405.3,491.7z"/></svg>');
}