.animating-transform {
    will-change: transform;
}

.animating-opacity {
    will-change: opacity;
}

.push-top {
    @media all and (min-width: $container-tablet) {
        padding-top: 300px;
    }
}

.last-small {
    margin-bottom: 40px;

    @media all and (min-width: $container-tablet) {
        padding-top: 90px;
    }
}
