//== Colors
// Internal variables
$x-color-red: #f82456;


// Global variables
$palette-primary: $x-color-red;

//font declarations
//$x-fontfamily-serif: 'Maven Pro', sans-serif;
$x-fontfamily-sans-serif: 'Nobel', sans-serif;

//global font variables
//$font-serif: $x-fontfamily-serif;
$font-sans-serif: $x-fontfamily-sans-serif;


//easing functions
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);


$global-radius: 3px;

$font-size-base:          16px;
$font-size-large:         18px;
$font-size-small:         12px;

$font-size-h1:            38px;
$font-size-h2:            30px;
$font-size-h3:            24px;
$font-size-h4:            $font-size-large;
$font-size-h5:            $font-size-base;
$font-size-h6:            $font-size-small;

$container-lrg-desktop:        1200px;
$container-desktop:            992px;
$container-tablet:             768px;
$mobile-alt:                   650px;
$mobile-only:                  580px;
