@font-face {
    font-family: 'Nobel';
    src: url('../../fonts/NobelWGL-Light.woff2') format('woff2'),
        url('../../fonts/NobelWGL-Light.woff') format('woff'),
        url('../../fonts/NobelWGL-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nobel';
    src: url('../../fonts/NobelWGL-Book.woff2') format('woff2'),
        url('../../fonts/NobelWGL-Book.woff') format('woff'),
        url('../../fonts/NobelWGL-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nobel';
    src: url('../../fonts/NobelWGL-Regular.woff2') format('woff2'),
        url('../../fonts/NobelWGL-Regular.woff') format('woff'),
        url('../../fonts/NobelWGL-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nobel';
    src: url('../../fonts/NobelWGL-Bold.woff2') format('woff2'),
        url('../../fonts/NobelWGL-Bold.woff') format('woff'),
        url('../../fonts/NobelWGL-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: $font-sans-serif;
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

a {
    text-decoration: none;
}

em {
    font-style: italic;
}

p {
    font-weight: normal;
    margin-bottom: 22px;
    color: white;
    font-size: 22px;
    line-height: 32px;
    font-weight: 200;
    letter-spacing: .04em;

    @media all and (min-width: $mobile-only) {
        font-size: 24px;
        line-height: 34px;
    }

    @media all and (min-width: $container-tablet) {
        font-size: 26px;
        line-height: 36px;
    }

    @media all and (min-width: $container-desktop) {
        font-size: 28px;
        line-height: 38px;
    }

    &.small {
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
    }

    strong {
        font-weight: 600;
    }
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

p.drop-cap {

    .lex-grid--column-2:first-of-type & { // only the drop cap on the left has line above
        &::before {
            content: "";
            position: absolute;
            top: -40px;
            left: 0;
            height: 5px;
            width: 100px;
            transform: translate3d(-50%,0,0);
            background-color: $palette-primary;
            display: none;

            @media all and (min-width: $container-tablet) {
                display: block;
            }
        }
    }

    &::first-letter {
        color: $palette-primary;
        float: left;
        font-size: 90px;
        line-height: 61px;
        padding-top: 10px;
        padding-right: 12px;
        padding-left: 0px;
        margin-left: -5px;
    }
}
