.lex-arrow--down-wrapper {
    position: fixed;
    left: 50%;
    height: 25px;
    width: 25px;
    bottom: 18%;
    cursor: pointer;
    transform: translate3d(-50%, 0, 0);
    pointer-events: none;
    display: none;

    @media all and (min-width: $mobile-alt){
        position: fixed;
        bottom: 18vh;
        cursor: pointer;
        display: block;
    }
}

.lex-arrow--up-wrapper {
    position: fixed;
    left: 20px;
    bottom: 15px;
    height: 16px;
    width: 25px;
    opacity: 0;
    z-index: 9;
    cursor: pointer;

    > svg {
        position: absolute;
        top: 0;
        opacity: 0;
    }
}
