.lex-btn {
    padding: 15px 25px;
    color: black;
    background-color: white;
    display: table;
    margin: auto;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font-sans-serif;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

.lex-btn--circle {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    transform: rotate(-90deg);
}

.lex-btn--circle--prompt {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-family: $font-sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}
