@mixin galleryItemDims($width, $height, $top, $left){
    width: $width;
    height: $height;
    top: $top;
    left: $left;
}

.lex-gallery--track {
    position: relative;
    width: 100%;

    @media all and (min-width: $container-tablet) {
        height: 100vh;
    }
}

.lex-gallery--wrapper {
    position: relative;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 150vh;

    @media all and (min-width: $container-tablet) {
        height: 100vh;
        position: absolute;
    }
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+53&0+0,1+57 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.93) 53%, rgba(0,0,0,1) 57%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.93) 53%,rgba(0,0,0,1) 57%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.93) 53%,rgba(0,0,0,1) 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.lex-gallery--item {
    //placeholder image
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    pointer-events: auto;
    position: absolute;

    &[data-img="0"] {
        background-image: url(../images/placeholder/gallery/pic_1.jpg);
        @include galleryItemDims(100%, 40%, 0, 0);
    }
    &[data-img="1"] {
        background-image: url(../images/placeholder/gallery/pic_2.jpg);
        @include galleryItemDims(50%, 30%, 40%, 0);
    }
    &[data-img="2"] {
        background-image: url(../images/placeholder/gallery/pic_3.jpg);
        @include galleryItemDims(50%, 15%, 40%, 50%);
    }
    &[data-img="3"] {
        background-image: url(../images/placeholder/gallery/pic_4.jpg);
        @include galleryItemDims(50%, 15%, 55%, 50%);
    }
    &[data-img="4"] {
        background-image: url(../images/placeholder/gallery/pic_5.jpg);
        @include galleryItemDims(50%, 30%, 70%, 0);
    }
    &[data-img="5"] {
        background-image: url(../images/placeholder/gallery/pic_6.jpg);
        @include galleryItemDims(50%, 15%, 70%, 50%);
    }
    &[data-img="6"] {
        background-image: url(../images/placeholder/gallery/pic_5.jpg);
        @include galleryItemDims(50%, 15%, 85%, 50%);
    }


    @media all and (min-width: $container-desktop) {

        &[data-img="0"] {
            background-image: url(../images/placeholder/gallery/pic_1.jpg);
            @include galleryItemDims(20%, 100%, 0, 0);
        }
        &[data-img="1"] {
            background-image: url(../images/placeholder/gallery/pic_2.jpg);
            @include galleryItemDims(20%, 50%, 0, 20%);
        }
        &[data-img="2"] {
            background-image: url(../images/placeholder/gallery/pic_3.jpg);
            @include galleryItemDims(20%, 50%, 50%, 20%);
        }
        &[data-img="3"] {
            background-image: url(../images/placeholder/gallery/pic_4.jpg);
            @include galleryItemDims(20%, 50%, 0, 40%);
        }
        &[data-img="4"] {
            background-image: url(../images/placeholder/gallery/pic_5.jpg);
            @include galleryItemDims(40%, 50%, 50%, 40%);
        }
        &[data-img="5"] {
            background-image: url(../images/placeholder/gallery/pic_6.jpg);
            @include galleryItemDims(40%, 50%, 0%, 60%);
        }
        &[data-img="6"] {
            background-image: url(../images/placeholder/gallery/pic_5.jpg);
            @include galleryItemDims(20%, 50%, 50%, 80%);
        }

    }
}
