@mixin placeholderBlock($blockname){
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    height: 50px;
    width: 150px;

    &::after {
        content: $blockname;
        width: 100%;
        color: black;
        text-transform: uppercase;
        font-size: 12px;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
}


.lex-global-ui-components {
    position: fixed;
    z-index: 10;
    height: 140px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+83 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 83%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 83%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 83%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.lex-global-ui-components--social {
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 0px;
    display: block;
}

.lex-global-ui-components--logo {
    position: fixed;
    z-index: 2;
    top: 60px;
    right: 20px;
    width: 85px;
    height: 30px;

    img {
        width: 100%;
    }

    @media all and (min-width: $container-tablet) {
        top: 50px;
        right: 22px;
        width: 177px;
        height: 40px;
    }
}

.lex-global-ui-components--title {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 60px;
    transform: translate3d(-50%, -10px, 0);
    font-size: 17px;
    text-align: center;
    opacity: 0;

    a {
        color: white;

        &:focus {
            color: white;
        }
    }

    > span {
        display: block;
        text-align: center;
        padding-bottom: 5px;

        @media all and (min-width: $container-tablet) {
            display: inline;
        }
    }
}


.lex-global-ui-components--loader {
    // > svg {
    //     width: 100%;
    //     display: block;
    //
    //     -webkit-animation: rotating 0.3s linear infinite;
    // 	-moz-animation: rotating 0.3s linear infinite;
    // 	-ms-animation: rotating 0.3s linear infinite;
    // 	-o-animation: rotating 0.3s linear infinite;
    // 	animation: rotating 0.3s linear infinite;
    //
    // }

    position: fixed;
    top: 50%;
    z-index: 99;
    margin-top: -40px;
    margin-left: -40px;
    left: 50%;
    height: 80px;
    width: 80px;
}


@keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}
@-webkit-keyframes rotating
	{
	from
		{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		}
	to
		{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		}
	}




.vp-spin {
	width:100%;
	max-width:140px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%) scale(1);
	transform:translate(-50%,-50%) scale(1);
	-webkit-transition:opacity .1s,-webkit-transform .25s cubic-bezier(.17,.88,.32,1.28);
	transition:opacity .1s,-webkit-transform .25s cubic-bezier(.17,.88,.32,1.28);
	transition:opacity .1s,transform .25s cubic-bezier(.17,.88,.32,1.28);
	transition:opacity .1s,transform .25s cubic-bezier(.17,.88,.32,1.28),-webkit-transform .25s cubic-bezier(.17,.88,.32,1.28)
}

.vp-spin-circle {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	fill:none;
	stroke-width:3%;
	stroke:#fcfcfc;
	stroke-opacity:1;
	stroke-linecap:round;
	stroke-dasharray:200;
	stroke-dashoffset:200;
	-webkit-animation:rotate 2s linear .25s infinite,dash 1.5s ease-in-out .25s infinite;
	animation:rotate 2s linear .25s infinite,dash 1.5s ease-in-out .25s infinite
}
.vp-spin-circle {
	stroke-dasharray:50 200;
	stroke-dashoffset:0
}

.vp-spin-trace {
	fill:none;
	stroke-width:3%;
	stroke:rgba(23,35,34,.75);
	stroke-opacity:.6
}
.vp-spin-circle,.vp-spin-trace {
	stroke-width:6%
}
.vp-spin-circle,.vp-spin-trace {
	stroke-width:4%
}


@-webkit-keyframes rotate {
    100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
    }
}

@keyframes rotate {
    100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
    }
}

@-webkit-keyframes dash {
    0% {
    stroke-dasharray:1,200;
    stroke-dashoffset:0
    }
    50% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-35px
    }
    100% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-124px
    }
}

@keyframes dash {
    0% {
    stroke-dasharray:1,200;
    stroke-dashoffset:0
    }
    50% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-35px
    }
    100% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-124px
    }
}
