.lex-navigation--wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: transparent;

    @media all and (min-width: $container-tablet) {
        max-width: 150px;
        height: 100%;
        border-left: 2px solid white;
        height: auto;
        padding-left: 20px;
        z-index: 2;
        top: 60px;
        z-index: 99;
        background-color: transparent;
    }

    > div {
        width: 100%;
    }

    ul {
        display: none;

        @media all and (min-width: $container-tablet) {
            display: block;
        }
    }

    li {
        text-transform: uppercase;
        opacity: 0.7;
        font-weight: 300;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 0px 60px 40px;
        font-size: 24px;
        opacity: 0;

        @media all and (min-width: $container-tablet) {
            text-align: left;
            padding: 0px 0px 20px;
            font-size: 14px;
            line-height: 16px;
            opacity: 1;
        }

        &:last-child {
            padding-bottom: 0px;
        }

        &.active {
            opacity: 1;
            font-weight: 400;
        }
    }

    a {
        color: white;
    }
}

.no-article-selected {
    .lex-navigation--wrapper {
        position: fixed;
        z-index: 2;
        bottom: 0px;
        top: auto;
        border-bottom: 2px solid white;
        border-left: none;
        padding-left: 0px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: auto;

        @media all and (min-width: $container-tablet){
            min-width: 450px;
            max-width: 800px;
            width: 55%;
            transform: translate3d(-50%, 0, 0);
            left: 50%;
        }

        ul {
            display: block;
        }

        > div {
            width: 100%;
            overflow-x: scroll;
            position: relative;
            left: 0;

            &::after {
                content: "";
                position: fixed;
                left: 0;
                bottom: 0;
                height: 50px;
                width: 120px;
                background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
                transition: opacity 0.2s ease;
                opacity: 0;
                pointer-events: none;
                z-index: 99;
            }

            &::before {
                content: "";
                position: fixed;
                right: 0;
                bottom: 0;
                height: 50px;
                width: 120px;
                background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
                background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
                transition: opacity 0.2s ease;
                opacity: 0;
                pointer-events: none;
                z-index: 99;
            }

            &.scrolled-to-beginning {
                &::before {
                    opacity: 1;
                }
            }

            &.scrolled-to-end {
                &::after {
                    opacity: 1;
                }
            }

            @media all and (min-width: $container-tablet){
                width: 100%;
                overflow-x: visible;

                &::after, &::before {
                    display: none;
                }
            }
        }

        .lex-navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 550px;
            padding: 0 20px;

            @media all and (min-width: $container-tablet){
                width: auto;
                padding: 0;
            }

            li {
                text-align: center;
                opacity: 1!important;
                padding: 0px 0px 16px;
                opacity: 1;
                font-size: 14px;

                @media all and (min-width: $container-tablet){
                    padding: 0px 0px 10px;
                }
            }
        }
    }
}

.lex-navigation--mob-dir-prompt {
    display: none;
}

.no-article-selected {
    .lex-navigation--mob-dir-prompt {
        display: block;
        position: fixed;
        padding-right: 100px;
        width: 40px;
        height: 40px;
        right: 0;
        bottom: 0;
        padding-top: 15px;
        background: black;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
        display: none;

        @media all and (min-width: $container-tablet) {
            display: none;
        }
    }
}

.lex-navigation--mobile-cta {
    position: fixed;
    left: 20px;
    top: 60px;
    color: white;
    text-decoration: none;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;

    @media all and (min-width: $container-tablet) {
        display: none;
    }
}

.no-article-selected {
    .lex-navigation--mobile-cta {
        opacity: 0;
    }
}

.lex-social--menu-open {
    .lex-navigation--wrapper, .lex-arrow {
        transition: opacity .3s ease;
        opacity: 0;
    }
}
