.lex-parallax {}

.lex-parallax--img {
    position: relative;
    left: 0;
    top: 0px;
    z-index: 3;

    @media all and (max-width: 767px) {
        transform: none!important;
    }

    @media all and (min-width: $container-tablet) {
        position: relative;
    }
}

.lex-parallax--img-wrapper {
    position: relative;

    > .lex-parallax--img {
        position: relative;
        display: block;
        width: 100%;
    }
}

.lex-parallax--img--line-wrapper {
    position: relative;
    display: block;
    margin-bottom: 80px;

    img {
        &.desktop {
            display: none;
            @media all and (min-width: $mobile-only) {
                display: block;
            }
        }

        &.mobile {
            display: block;
            @media all and (min-width: $mobile-only) {
                display: none;
            }
        }
    }

    > span {
        display: block;

        > img {
            width: 93%;

            @media all and (min-width: $container-tablet) {
                width: 100%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            width: calc(100% - 50px);
            left: calc(50% - 16px);
            border: 2.5px solid $palette-primary;
            transform: translate3d(-50%,0,0);

            @media all and (min-width: $container-tablet) {
                width: 100%;
                width: 95%;
                left: 50%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            height: 95%;
            right: 0px;
            border: 2.5px solid $palette-primary;
            top: 50%;
            transform: translate3d(0,-50%,0);

            @media all and (min-width: $container-tablet) {
                right: -30px;
            }
        }
    }
}

.lex-parallax--sticky-vid-parent {
    position: relative;
    height: 300vh;
}

.lex-parallax--sticky-vid-wrapper {
    position: relative;
    height: auto;
    width: 100vw;
    top: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;

    @media all and (min-width: $container-tablet) {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > [data-type] {
        position: absolute;
        top: 0;
        left: 0;
    }

    > img {
        width: 100%;
        display: block;
    }
}

.lex-parallax--progress-line {
    height: 5px;
    width: 0;
    position: absolute;
    bottom: 0px;
    background-color: $palette-primary;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    transition: opacity .3s ease;
    opacity: 0;
}

.lex-parallax--sticky-vid-wrapper {
    .desktop-video {
        display: none;

        .lex-parallax--progress-line {
            opacity: 1;
        }

        @media all and (min-width: $mobile-only) {
            display: block;
        }
    }

    .mobile-video {
        display: block;
        @media all and (min-width: $mobile-only) {
            display: none;
        }
    }
}
