.visible--only-sm {
    display: block;

    @media screen and (min-width: $container-tablet) {
        display: none !important;
    }
}

.visible--only-md {
    display: none;

    @media screen and (min-width: $container-tablet) {
        display: block !important;
    }

    @media screen and (min-width: $container-lrg-desktop) {
        display: none !important;
    }
}

.visible--only-lg {
    display: none;

    @media screen and (min-width: $container-desktop) {
        display: block !important;
    }
}
