.lex-top-prompt {
    position: relative;
    margin-bottom: 80px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    display: block;
    font-weight: 300;

    span {
        display: block;
        padding-top: 20px;
    }

    svg {
        height: 25px;
        width: 25px;
        display: block;
        position: relative;
        margin: auto;
        transform: rotate(180deg);
    }
}
