.lex-background {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
}

.lex-background--texture {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    &:after {
        -moz-box-shadow: inset 0 0 10em #000;
        -webkit-box-shadow: inset 0 0 10em #000;
        box-shadow: inset 0 0 10em #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        content: "";
    }

    &--mask {
        position: absolute;
        z-index: 6;
        background-color: black;
        height: 100%;
        width: 100%;
    }
}
