.lex-blockquote {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: .04em;
    position: relative;
    transform: translate3d(0, -50%, 0);
    z-index: 4;
    color: white;
    margin: 40px 0;
    position: relative;
    left: 0px;
    top: 0;
    width: 100%;

    @media all and (max-width: 767px) {
        transform: none!important;
    }

    @media all and (min-width: $mobile-only) {
        position: absolute;
        width: 70%;
        font-size: 24px;
        line-height: 34px;
        top: 50%;
        margin: auto;
    }

    @media all and (min-width: $container-tablet) {
        left: -100px;
        width: 480px;
        font-size: 28px;
        line-height: 38px;
        padding-left: 0px!important;
        margin-top: 0px;
    }
}

.lex-blockquote::before {
    content:"\201C";
    font-size: 150px;
    color: $palette-primary;
    position: absolute;
    top: 0px;
    left: -8px;
    font-weight: normal;

    @media all and (min-width: $container-tablet) {
        font-size: 250px;
    }
}
