.lex-grid {
    &--row {
        position: relative;
        display: block;
        width: calc(100% - 40px);
        margin: auto;
        padding: 20px 0;
        @include clearfix;

        @media all and (min-width: $container-tablet) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 40px 0 150px 0;
        }
    }

    &--column-2 {
        width: 100%;
        position: relative;
        @include clearfix;

        @media all and (min-width: $container-tablet) {
            width: 36%;
        }

        @media all and (min-width: $container-desktop) {
            width: 30%;
        }

        > img {
            width: 100%;
            display: block;
        }

        &:first-child {}
        &:last-child {}
    }

    &--column-1 {
        width: 87%;
        position: relative;
        @include clearfix;
    }
}

.lex-grid--row {
    .lex-grid--column-3 {
        position: relative;
        display: block;
        width: 100%;
        margin: auto;
        padding: 20px 0;
        @include clearfix;

        @media all and (min-width: $container-tablet) {
            display: flex;
            justify-content: space-between;
            padding: 40px 0;
        }

        .lex-grid--column-2 {
            width: 100%;
            position: relative;
            @include clearfix;

            @media all and (min-width: $container-tablet) {
                width: 60%
            }
        }

        .lex-grid--column-1 {
            width: 100%;
            position: relative;
            @include clearfix;

            @media all and (min-width: $container-tablet) {
                width: 30%;
            }
        }
    }
}

.lex-parallax--sticky-vid-wrapper {
    .lex-grid--row {
        padding: 0px;
    }
}
