.lex-header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: calc(200vh - 30px);
    background-color: transparent;

    svg {
        opacity: 0;
    }
}

.lex-header--pin-wrapper {
    width: 100%!important;
    height: calc(100vh - 30px);
    top: 0px!important;
    position: relative;

    .lex-header--pin-text-wrapper {
        width: 100%;
        position: relative;
        top: 42%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        cursor: default;

        @media all and (min-width: $mobile-only) {
            top: 42vh;
        }
    }


    .lex-header--htag {
        position: relative;
        font-size: 8vw;
        line-height: 1.3;
        color: white;
        text-align: center;
        opacity: 0;

        @media all and (min-width: $mobile-only) {
            font-size: 6.5vw;
            line-height: 8.5vw;
        }

        @media all and (min-width: $container-desktop) {
            font-size: 7vw;
            letter-spacing: 0.3em;
        }

        @media all and (min-width: $container-lrg-desktop) {
            font-size: 70px;
            line-height: 1.3;
        }
    }

    .lex-header--ptag {
        position: absolute;
        margin: auto;
        text-align: center;
        color: white;
        margin-top: 17px;
        padding-top: 40px;
        opacity: 0;
        font-weight: 300;
        width: 75%;
        font-size: 18px;
        line-height: 28px;
        left: 50%;
        transform: translateX(-50%)!important;

        @media all and (min-width: $mobile-only) {
            font-size: 20px;
            line-height: 30px;
        }

        @media all and (min-width: $container-tablet) {
            width: 400px;
            text-align: left;
            margin-top: 50px;
            padding-top: 60px;
            left: calc(50% - 65px);
            transform: translateX(0%)!important;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 50%;
            height: 3px;
            width: 0px;
            transform: translate3d(-50%,0,0);
            background-color: $palette-primary;
            transition: width 1s 1s $easeInOutQuart;
            display: none;

            @media all and (min-width: $container-tablet) {
                transform: none;
                left: 0px;
                height: 5px;
                width: 100px;
            }
        }

    }
}

.lex-header--ptag--progress-line {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 3px;
    width: 0px;
    transform: translate3d(-50%,0,0);
    display: block;
    background-color: $palette-primary;
    width: 0;

    @media all and (min-width: $container-tablet) {
        transform: none;
        left: 0px;
        height: 5px;
    }
}

.lex-header--character {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate3d(-50%,-50%,0);

    @media all and (min-width: $container-tablet) {
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.lex-header--character--long {
    width: 80px;
    height: 300px;

    @media all and (min-width: $container-tablet) {
        width: 100px;
        height: 500px;
    }
}

.lex-header--character--wide {
    width: 80px;
    height: 300px;

    @media all and (min-width: $container-tablet) {
        width: 140px;
        height: 500px;
    }
}

.lex-header--article-title-wrapper {
    display: none;
}

.lex-header--site-title-wrapper {

    .lex-header--ptag {
        opacity: 0;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        padding-left: 0px;
        width: 80%;
        margin-top: 10px;
        padding-top: 40px;
        left: 50%;
        transform: translateX(-50%)!important;

        @media all and (min-width: $mobile-only) {
            font-size: 20px;
            line-height: 30px;
        }

        @media all and (min-width: $container-tablet) {
            width: 500px;
            margin-top: 20px;
            padding-top: 40px;
        }

        &::before {
            display: block;
            left: 50%!important;
            transform: translate3d(-50%, 0, 0);
            width:0;
            transition: width 0.3s 0s $easeInOutQuart;

            @media all and (min-width: $container-tablet) {
                margin-left: 0px;
            }
        }
    }
}

.lex-header--site-title-wrapper, .lex-header--article-title-wrapper {
    &.visible {
        .lex-header--ptag::before {
            transition: width 1s 1s $easeInOutQuart;
            width: 70px;

            @media all and (min-width: $container-tablet) {
                width: 130px;
            }
        }
    }
}
