.lex-section {
    position: relative;
    min-height: 800px;
    background-color: transparent;
    width: 100%;
    margin: auto;

    @media all and (min-width: $container-tablet) {
        max-width: 1600px;
        min-width: 90%;
    }

    &--full-width {
        min-height: inherit;
        height: auto;
        max-width: inherit;
        width: 100%;
        margin-bottom: 0;

        &:not(.lex-parallax--sticky-vid-parent) {
            max-height: calc(60vh+60px);
            overflow: hidden;
            margin-bottom: 60px;
        }
    }

    &--gallery {
        position: static;
        background-color: white;
    }
}

.lex-section--htag {
    position: relative;
    text-align: center;
    font-size: 4em;
    width: 100%;
    color: white;
    padding: 200px 0 100px;
}

.lex-section .lex-btn {
    display: block;
    margin: inherit;
}

.lex-section--header-placeholder {
    height: auto;

    @media all and (min-width: $container-tablet) {
        height: 180vh; //section height plus offset of gallery image
        padding-bottom: 0px;
    }

    h3 {
        color: white;
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 40%;
    }

    h4 {
        color: white;
        font-size: 30px;
    }
}

.lex-section--car-callout {
    min-height: inherit;
    padding-top: 60px;

    @media all and (min-width: $container-tablet) {
        padding: 160px 0 0;
    }

    &--copy {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 40px;

        @media all and (min-width: $container-tablet) {
            padding-top: 0px;
        }

        h3 {
            font-size: 28px;
            line-height: 38px;
            padding-bottom: 20px;
        }

        a {
            color: white;
            border-bottom: 1px solid white;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 3px solid #f82456;
            margin-top: 25px;
            letter-spacing: 0.04em;
            padding-bottom: 5px;
        }
    }
}
