.lex-social {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -40px;
    margin-top: -60px;

    // @media all and (min-width: $container-tablet) {
    //     flex-direction: row;
    //     border-bottom: 2px solid white;
    //     top: auto;
    //     left: auto;
    //     right: 20px;
    //     bottom: 0;
    //     margin-left: 0px;
    //     margin-top: 0px;
    //     position: relative;
    // }
}

.lex-social__item {
    padding: 5px 15px;
    color: white;
    font-size: 0px;
    text-indent: 99px;
    height: 30px;
    width: 50px;
    opacity: 0;
    margin-bottom: 7vh;
    display: none;

    a {
        display: block;
        position: relative;
        height: 100%;
    }

    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
    }

    // @media all and (min-width: $container-tablet) {
    //     padding: 5px 5px 10px;
    //     display: block;
    //     height: 14px;
    //     width: 20px;
    //     margin-bottom: 0px;
    // }
    //
    // &--twitter, &--facebook, &--linkedin {
    //     @media all and (min-width: $container-tablet) {
    //         opacity: 1!important;
    //         display: block!important;
    //     }
    // }
}

.lex-social__item--mobileshare {
    display: block;
    bottom: 0;
    right: 0;
    opacity: 1;

    > a {
        position: fixed;
        left: 20px;
        top: 60px;
        display: block;
        height: 30px;
        width: 30px;

        > svg {
            display: block;
            width: 80%;
            height: 80%;
            left: 10%;
            top: 10%;
        }

        > span {
            position: absolute;
            bottom: 10px;
            right: 10px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }

    // @media all and (min-width: $container-tablet) {
    //     display: none;
    // }
}

.lex-social__menu-bg {
    z-index: 9;
}

.lex-social--close {
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: none!important;
    opacity: 0;
    padding: 2px;
    box-sizing: border-box;
}

.lex-social--share {
    display: block!important;
}

.lex-social--menu-open {
    .lex-navigation--mobile-cta {
        transition: opacity .3s ease;
        opacity: 0;
        pointer-events: none;
    }
}

.lex-navigation--menu-open {
    .lex-social {
        pointer-events: none;
    }

    .lex-social--share {
        transition: opacity .3s ease;
        opacity: 0.4;
        pointer-events: none;
    }
}

.menuOpen {
    .lex-social--share {
        display: none!important;
    }

    .lex-social--close {
        display: block!important;
    }
}
