<!--article one-->
<template>
<section class="lex-section" data-fx="intro">
    <h2 class="lex-section--htag">Imaginative Technology</h2>
    <div class="lex-grid--row">
        <div class="lex-grid--column-2">
            <img class="lex-parallax--img" src="./dist/images/placeholder/lrg-img-placeholder.jpg" />
        </div>
        <div class="lex-grid--column-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <button class="lex-btn">Button</button>
        </div>
    </div>
</section>

<section class="lex-section lex-section--light" data-fx="content">

    <div class="lex-grid--row">
        <div class="lex-grid--column-2"></div>
        <div class="lex-grid--column-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <div class="lex-grid--row">
        <div class="lex-grid--column-2"></div>
        <div class="lex-grid--column-2">
            <div class="lex-parallax--img-wrapper">
                <blockquote class="lex-blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
                <img class="lex-parallax--img" src="./dist/images/placeholder/square-img-placeholder.jpg" />
            </div>
        </div>
    </div>

    <div class="lex-grid--row">
        <div class="lex-grid--column-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="lex-grid--column-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
    </div>

</section>

<section class="lex-section lex-section--full-width">
    <div class="lex-parallax--img-wrapper">
        <img class="lex-parallax--img" src="./dist/images/placeholder/fullwidth-img-placeholder.jpg" />
    </div>
</section>

<!--section class="lex-section lex-section--gallery" data-fx="gallery">

    <div class="lex-grid--row">
        <div class="lex-grid--column-1">
            <div class="lex-gallery--wrapper">
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
                <div class="lex-gallery__img--small">
                    <img src="./dist/images/placeholder/square-img-placeholder.jpg" />
                </div>
            </div>
        </div>
    </div>

</section-->

<section class="lex-section"></section>
<section class="lex-section lex-section--light" ></section>
<section class="lex-section" ></section>
</template>
